<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n

        </Property>
        <Property name="log-path">logs</Property>

    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
            </PatternLayout>
        </Console>
        <File name="ProductoAppender" fileName="${log-path}/producto.log">
            <PatternLayout>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
            </PatternLayout>
        </File>
        <File name="ClienteAppender" fileName="${log-path}/cliente.log">
            <PatternLayout>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
            </PatternLayout>
        </File>
        <File name="VentaAppender" fileName="${log-path}/venta.log">
            <PatternLayout>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
            </PatternLayout>
        </File>
        <File name="JWTAppender" fileName="${log-path}/jwt.log">
            <PatternLayout>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="producto" level="info" additivity="false">
            <AppenderRef ref="ProductoAppender" />
            <AppenderRef ref="ConsoleAppender" />

        </Logger>

        <Logger name="venta" level="info" additivity="false">
            <AppenderRef ref="VentaAppender" />
            <AppenderRef ref="ConsoleAppender" />

        </Logger>

        <Logger name="cliente" level="info" additivity="false">
            <AppenderRef ref="ClienteAppender" />
            <AppenderRef ref="ConsoleAppender" />

        </Logger>
        <Logger name="jwt" level="info" additivity="false">
            <AppenderRef ref="JWTAppender" />
            <AppenderRef ref="ConsoleAppender" />

        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
                   </Root>
    </Loggers>
</Configuration>
